@import "tailwindcss";

/* CONFIGURATION */
@theme {
  --color-whitecolor: var(--color-whitecolor);
  --color-blackcolor: var(--color-blackcolor);
  --font-sans: var(--font-inter), "Inter", sans-serif;
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-background: var(--color-background);
  --color-muted: var(--color-muted);
  --color-border: var(--color-border);
  --color-error: var(--color-error);
}

/* DARK MODE SETUP */
@custom-variant dark (&:where(.dark, .dark *));

/* COLOR PALETTE */
:root {
  --color-blackcolor: #171717;
  --color-whitecolor: #f8fafc;
  --color-primary: #0c36fa;
  --color-secondary: #ededed;
  --color-tertiary: #171717;
  --color-background: #f8f9fa;
  --color-muted: #64748b;
  --color-border: #d1d5db;
  --color-error: #b91c1c;
}

.dark {
  --color-blackcolor: #171717;
  --color-whitecolor: #f8fafc;
  --color-primary: #3374c3;
  --color-secondary: #252d36;
  --color-tertiary: #f8f9fa;
  --color-background: #1b202a;
  --color-muted: #94a3b8;
  --color-border: #374151;
  --color-error: #f87171;
}

/* GLOBAL RESETS */
body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-blackcolor);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Auto-switch text color in dark mode */
.dark body {
  color: var(--color-whitecolor);
}

@layer base {
  /* WebKit Browsers (Chrome, Edge, Safari) */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-muted);
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }
}
